@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2eee7;
}

body.noScroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

h1.nts,
h2.nts,
h3.nts,
h4.nts,
h5.nts,
h6.nts,
span.nts,
p.nts {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

.bg-body {
  background-color: #f2eee7;
}

.divider {
  padding: 3px 0;
}

.divider .el {
  height: 0.5px;
  background-color: #1a0802;
  width: 100%;
}

.nav-lg {
  height: 66px;
  background-color: #1a0802;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-lg .logo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-lg .logo-top .logo-white {
  width: 120px;
  margin-right: 10px;
}

.nav-lg .logo-top .text-top {
  font-weight: 700;
  color: #fff;
  font-size: 24px;
}

.main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #f2eee7;
}

.main-nav .menu-lg {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav .menu-lg .center {
  width: 200px;
  margin: 0 50px;
}

.main-nav .menu-lg .center .logo {
  width: 100%;
}

.main-nav .menu-lg .center .logo img {
  width: 100%;
}

.main-nav .menu-lg .side {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-nav .menu-lg .side .menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav .menu-lg .side .menus .menu-item a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
}

.main-nav .menu-lg .side .side-mob .button-side-mob {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #461c0c;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.hero {
  margin-top: 0;
}

.hero .hero-slider {
  height: 280px;
  background-color: #f2eee7;
}

.hero .hero-slider .swiper-slide {
  padding-bottom: 50px;
}

.hero .hero-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero .hero-slider .swiper-slide .caption-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  padding-top: 20px;
  padding-left: 20px;
}

.hero .hero-slider .swiper-slide .caption-wrapper span {
  font-size: 32px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.hero .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #461c0c;
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff;
}

section .section-title {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.form-search {
  padding: 60px 0;
}

.form-search .form-search-car {
  background-color: #1a0802;
  border-radius: 10px;
  margin-top: 20px;
}

.form-search .form-search-car .form-control,
.form-search .form-search-car .form-select {
  font-size: 18px;
  font-weight: 700;
  background-color: #f2eee7;
}

.form-search .button-wrapper-sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-search .button-wrapper-sc a {
  background-color: #1a0802;
  height: 45px;
  width: 200px;
  color: #fff;
  font-weight: 600;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.form-search .button-wrapper-sc button {
  background-color: #1a0802;
  height: 45px;
  width: 200px;
  color: #fff;
  font-weight: 600;
  border: none;
}

.new-arrival .card-product {
  position: relative;
}

.new-arrival .card-product img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.new-arrival .card-product .info-card {
  padding: 6px;
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
}

.new-arrival .card-product .info-card .title {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.new-arrival .card-product .info-card .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
}

.new-arrival .card-product .info-card .desc .l,
.new-arrival .card-product .info-card .desc .r {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.new-arrival .card-product .info-card .desc .c {
  width: 1px;
  height: 100%;
  background-color: #fff;
  margin: 0 10px;
}

.new-arrival .card-product .info-card .desc .l {
  text-align: end;
}

.why .why-img {
  position: relative;
  display: block;
  color: inherit;
  overflow: hidden;
}

.why .why-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
}

.why .why-img .layer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.why .why-img .layer h3 {
  font-weight: 700;
  text-shadow: unset;
}

.why .why-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer {
  background-color: #1a0802;
  color: #FFF;
}

.footer .logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo-footer img {
  width: 200px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer .f-header {
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.footer .f-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 8px;
}

.footer .f-item .ic {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.footer .f-item .ic img {
  width: 80%;
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer .f-item .if {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 8px;
}

.menu-mobile {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #f2eee7;
  z-index: 10;
  width: 100vw;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
}

.menu-mobile.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-mobile .header {
  background-color: #f2eee7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 80px;
}

.menu-mobile .header .m-logo {
  width: 160px;
}

.menu-mobile .header .m-logo img {
  width: 100%;
}

.menu-mobile .header .button-close-trigger button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  height: 35px;
  width: 35px;
}

.menu-mobile .header .button-close-trigger button img {
  width: 100%;
}

.menu-mobile .body {
  height: calc(100vh);
  padding-top: 80px;
  overflow-y: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-mobile .body .side-menus .item-wrapper {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.menu-mobile .body .side-menus .item-wrapper .item {
  text-decoration: none;
  color: #461c0c;
  font-size: 22px;
  font-weight: 600;
}



@media (min-width: 768px) {
  .hero {
    margin-top: -100px;
  }
  .hero .hero-slider {
    height: 80vh;
  }
  .hero .hero-slider .swiper-slide .caption-wrapper {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 100px;
  }
  .hero .hero-slider .swiper-slide .caption-wrapper span {
    font-size: 66px;
    font-weight: 700;
  }
  section .section-title {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  .why .why-img .layer {
    padding: 30px;
  }
  .why .why-img .layer h3 {
    font-weight: 700;
    text-shadow: unset;
    font-size: 70px;
    text-align: center;
  }
  .footer {
    background-color: #1a0802;
    color: #FFF;
  }
  .footer .logo-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .logo-footer img {
    width: 300px;
  }
  .footer a {
    text-decoration: none;
    color: inherit;
  }
  .footer .f-header {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
  }
  .footer .f-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
  }
  .footer .f-item .ic {
    width: 25px;
    height: 25px;
    margin-right: 6px;
  }
  .footer .f-item .ic img {
    width: 80%;
    height: 80%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer .f-item .if {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  section .section-title {
    font-size: 46px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  .main-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
  }
  .main-nav.with-bg {
    background-color: #f2eee7;
  }
  .main-nav.with-bg .side {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .main-nav.with-bg .side .menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav.with-bg .side .menus .menu-item a {
    text-decoration: none;
    color: #461c0c;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  }
  .main-nav.onScroll {
    background-color: #f2eee7;
  }
  .main-nav.onScroll .side {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .main-nav.onScroll .side .menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav.onScroll .side .menus .menu-item a {
    text-decoration: none;
    color: #461c0c;
    font-size: 18px;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  }
  .main-nav .menu-lg {
    height: 100px;
  }
  .hero {
    margin-top: -100px;
  }
  .hero .hero-slider {
    height: 80vh;
  }
  .hero .hero-slider .swiper-slide .caption-wrapper {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 100px;
  }
  .hero .hero-slider .swiper-slide .caption-wrapper span {
    font-size: 96px;
    font-weight: 700;
  }
  .new-arrival .card-product {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
  }
  .new-arrival .card-product img {
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
  }
  .new-arrival .card-product img {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
  .new-arrival .card-product .info-card {
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    text-decoration: none;
  }
  .new-arrival .card-product .info-card .title {
    font-weight: 800;
    font-size: 46px;
    color: #fff;
  }
  .new-arrival .card-product .info-card .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 360px;
  }
  .new-arrival .card-product .info-card .desc .l,
  .new-arrival .card-product .info-card .desc .r {
    color: #fff;
    font-size: 26px;
    font-weight: 500;
  }
  .new-arrival .card-product .info-card .desc .c {
    width: 1px;
    height: 100%;
    background-color: #fff;
    margin: 0 10px;
  }
  .new-arrival .card-product .info-card .desc .l {
    text-align: end;
  }
  .why .why-img .layer {
    padding: 30px;
  }
  .why .why-img .layer h3 {
    font-weight: 700;
    text-shadow: unset;
    font-size: 100px;
    text-align: center;
  }
  .footer {
    background-color: #1a0802;
    color: #FFF;
  }
  .footer .logo-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .logo-footer img {
    width: 300px;
  }
  .footer a {
    text-decoration: none;
    color: inherit;
  }
  .footer .f-header {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    display: block;
  }
  .footer .f-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 18px;
  }
  .footer .f-item .ic {
    width: 25px;
    height: 25px;
    margin-right: 6px;
  }
  .footer .f-item .ic img {
    width: 80%;
    height: 80%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer .f-item .if {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 18px;
  }
}